<form action="/place" method="post">
  <label for="cityName">Add a new place name</label>
  <input id="cityName" name="cityName" type="text">
  <label for="stayTime"> How many days? </label> 
  <input id="stayTime" name="stayTime" type="text">
  <button type="submit">Submit</button>
</form>