<h1>Place Details: </h1>

<h2>@Model.CityName</h2>
<h2>@Model.StayTime</h2>
<a href='/place/new'>Add another place</a>
<a href='/place/new'>Add another time</a>
<a href='/place'>View all places and time</a>